@{
    Style.Include("FeaturedCampaigns.css");
    int index = 0;
}
@if (Model.Campaigns != null)
{
    <div class="relatedcampaign">

        @foreach (var camp in Model.Campaigns)
        {
            index++;
            if (index == 5)
            {
                <div style="clear:both;"></div>


                <div class="featuredshops">

                    <a class="item">
                        <div class="photo">
                            <img src="Themes/Teeyoot.Theme/Content/shoplogo.png" />
                            <div class="shopsold">8 Sold</div>
                        </div>
                        <h4>Fastest Man Alive!</h4>
                    </a>
                    <a class="item">
                        <div class="photo">
                            <img src="Themes/Teeyoot.Theme/Content/shoplogo.png" />
                            <div class="shopsold">8 Sold</div>
                        </div>
                        <h4>Fastest Man Alive!</h4>
                    </a>
                    <a class="item">
                        <div class="photo">
                            <img src="Themes/Teeyoot.Theme/Content/shoplogo.png" />
                            <div class="shopsold">8 Sold</div>
                        </div>
                        <h4>Fastest Man Alive!</h4>
                    </a>
                    <a class="item">
                        <div class="photo">
                            <img src="Themes/Teeyoot.Theme/Content/shoplogo.png" />
                            <div class="shopsold">8 Sold</div>
                        </div>
                        <h4>Fastest Man Alive!</h4>
                    </a>


                </div>


                <div style="clear:both;"></div>
            }
            //var localizationInfo = Teeyoot.Localization.LocalizationInfoFactory.GetCurrentLocalizationInfo();
            //var xcurrency = Teeyoot.Localization.LocalizationInfoFactory.GetCurrency();

            //var currency = _countryService.GetCurrency(localizationInfo, xcurrency);
            float widthResult = 0;
            string width = string.Empty;
            int min = camp.ProductMinimumGoal == 0 ? 1 : camp.ProductMinimumGoal;
            if ((min - camp.ProductCountSold) <= 0)
            {
                widthResult = 100;
            }
            else
            {
                if (camp.ProductCountSold != 0)
                {
                    float procent = (float)min / 100;
                    widthResult = camp.ProductCountSold / procent;
                }
                else
                {
                    widthResult = 0;
                }
            }
            width = (int)widthResult + "% !important";

            string productId = string.Empty;
            for (int i = 0; i < camp.Products.Count; i++)
            {
                if (camp.Products[i].WhenDeleted == null)
                {
                    productId = camp.Products[i].Id.ToString();
                    break;
                }
            }

            string path = "/Media/campaigns/" + camp.Id.ToString() + "/" + productId + "/";
            string backIMG;
            string frontIMG;
            if (camp.BackSideByDefault)
            {
                backIMG = path + "normal/front.png";
                frontIMG = path + "normal/back.png";
            }
            else
            {
                backIMG = path + "normal/back.png";
                frontIMG = path + "normal/front.png";
            }

            string sold = camp.ProductCountSold.ToString();// +T(" of ").ToString() + min.ToString() + T(" sold").ToString();

            var dayLeft = (camp.EndDate - DateTime.Now).Days;

            <a href="~/@camp.Alias" class="item">
                @if (dayLeft < 0)
                {
                    <div class="daysleft">Ended</div>

                }
                else
                {
                    <div class="daysleft">@dayLeft Days Left</div>
                }
                
                <img onmouseover="this.src='@backIMG'" onmouseout="this.src = '@frontIMG'" src="@frontIMG">
                <h4>@camp.Title</h4>

                <p>
                    @*@foreach (var item in Model.prices[camp.Id])
                    {

                    }*@
                    <span class="price price-currency-code price-@camp.CurrencyRecord.Code" data-bc="@camp.CurrencyRecord.Code" data-string-format="{0}" data-price="@camp.Products[0].Price">@camp.CurrencyRecord.Code @camp.Products[0].Price</span>

                    |<span class="sold">@sold Sold</span>
                </p>
                @*<p><span class="price">@camp.CurrencyRecord.ShortName @camp.Products[0].Price</span>|<span class="sold">@sold Sold</span></p>*@
            </a>



        }
    </div>


}  

