@model Teeyoot.Module.ViewModels.CampaignIndexViewModel
@using (Script.Head())
{
    <meta property="og:site_name" content="Teeyoot" />
    <meta property="og:title" content="@Model.Campaign.Title" />
    <meta property="og:image" content="@Request.Url.Scheme://@Request.Url.Authority@Request.ApplicationPath.TrimEnd('/')/Media/campaigns/@Model.Campaign.Id/@Model.Campaign.Products.First(c => c.WhenDeleted == null).Id/social/campaign.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="627" />
    <meta property="og:description" content="@Model.FBDescription" />
    <meta property="og:url" content="@Request.Url.Scheme://@Request.Url.Authority@Request.ApplicationPath.TrimEnd('/')/@Model.Campaign.Alias" />

    <meta name="twitter:domain" content="Teeyoot.com">
    <meta name="twitter:card" content="photo">
    @*<meta name="twitter:description" content="@Model.Campaign.Description">*@
    <meta name="twitter:title" content="@Model.Campaign.Title">
    <meta name="twitter:site" content="teeyoot">
    <meta name="twitter:image" content="@Request.Url.Scheme://@Request.Url.Authority@Request.ApplicationPath.TrimEnd('/')/Media/campaigns/@Model.Campaign.Id/@Model.Campaign.Products.First(c => c.WhenDeleted == null).Id/social/campaign.jpg" />
    if (Model.Campaign.IsPrivate)
    {
        <meta name="Robots" content="NOINDEX,NOFOLLOW">
    }


    if (!string.IsNullOrWhiteSpace(Model.FacebookCustomAudiencePixel) ||
       !string.IsNullOrWhiteSpace(Model.SellerFbPixel)
        )
    {
        var pixelSet = false;
        if (!string.IsNullOrWhiteSpace(Model.FacebookCustomAudiencePixel))
        {
            pixelSet = true;
            <script>
                !function (f, b, e, v, n, t, s) {
                    if (f.fbq) return;
                    n = f.fbq = function () {
                        n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                    };
                    if (!f._fbq) f._fbq = n;
                    n.push = n; n.loaded = !0;
                    n.version = '2.0';
                    n.queue = []; t =
                        b.createElement(e);
                    t.async = !0;
                    t.src = v; s = b.getElementsByTagName(e)[0];
                    s.parentNode.insertBefore(t, s)
                }(window, document, 'script', '//connect.facebook.net/en_US/fbevents.js');
                // Insert Your Custom Audience Pixel ID below.
                fbq('init', '@Model.FacebookCustomAudiencePixel');
                fbq('track', 'PageView');

            </script><noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=@Model.FacebookCustomAudiencePixel&ev=PageView&noscript=1" /></noscript>
            <!-- End Custom Audience Pixel Code --><!-- Facebook Custom Audience Pixel Code -->
            <!--End New Pixel-->
        }
        else
        {
         <!--Old Pixel-->
            @*<script type="text/javascript">
                    (function () {
                        var _fbq = window._fbq || (window._fbq = []);
                        if (!_fbq.loaded) {
                            var fbds = document.createElement('script');
                            fbds.async = true;
                            fbds.src = '//connect.facebook.net/en_US/fbds.js';
                            var s = document.getElementsByTagName('script')[0];
                            s.parentNode.insertBefore(fbds, s);
                            _fbq.loaded = true;
                        }
                        _fbq.push(['addPixelId', '@Model.SellerFbPixel']);
                    })();
                    window._fbq = window._fbq || [];
                    window._fbq.push(['track', 'PixelInitialized', {}]);
                </script>
                if (!string.IsNullOrWhiteSpace(Model.SellerFbPixel) && !pixelSet)
                {
                    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=@(Model.SellerFbPixel)&amp;noscript=1&dt=ivmgtvlesuk3lon9t8ptnd55qytp1lrk" /></noscript>
                }*@
    <!--End Old Pixel-->
        }

    }
    Style.Include("new-campaign.css");
    Style.Include("n-campaign.css");

    var firstProuct = Model.Campaign.Products.FirstOrDefault();
    if (firstProuct == null)
    {
        Server.TransferRequest("~/404");
    }

    var jsonCode = "";
    List<dynamic> products = new List<dynamic>();

    foreach (var product in Model.Campaign.Products.Where(c => c.WhenDeleted == null))
    {

        //products.Add(

        var x = new
        {
            name = product.ProductRecord.Name,
            id = product.Id,
            price = product.Price,
            colors = new List<dynamic>(),
            sizes = new List<dynamic>(), //product.ProductRecord.SizesAvailable.ToArray()
        };

        if (product.ProductColorRecord != null)
        {
            x.colors.Add(product.ProductColorRecord);
        }

        if (product.SecondProductColorRecord != null)
        {
            x.colors.Add(product.SecondProductColorRecord);
        }

        if (product.ThirdProductColorRecord != null)
        {
            x.colors.Add(product.ThirdProductColorRecord);
        }

        if (product.FourthProductColorRecord != null)
        {
            x.colors.Add(product.FourthProductColorRecord);
        }

        if (product.FifthProductColorRecord != null)
        {
            x.colors.Add(product.FifthProductColorRecord);
        }

        foreach (var size in product.ProductRecord.SizesAvailable)
        {

            dynamic new_size = new
            {
                id = size.Id,
                cost = size.SizeCost,
                sizeRecord = size.ProductSizeRecord,
            };

            x.sizes.Add(new_size);
        }

        products.Add(x);
    }
    jsonCode = Newtonsoft.Json.JsonConvert.SerializeObject(products, new Newtonsoft.Json.JsonSerializerSettings()
    {
        ContractResolver = new Teeyoot.Module.Controllers.NHibernateContractResolver()
    });

    <script>
        window.products = @Html.Raw(@jsonCode);
        window.campainID = @Model.Campaign.Id;
        window.CampaignBaseCurrency = '@Model.Campaign.CurrencyRecord.ShortName';
        window.ExchangeRates = @Html.Raw(Model.exchangeRate);
    </script>
}


<div class="main">
    <div class="campaign">
        <div class="left">

            <div class="tee">
                <div class="colors">
                    <ul id="color-container">
                        @{
                            Teeyoot.Module.Models.CampaignProductRecord First = Model.Campaign.Products.FirstOrDefault();
                            <li data-first="true" data-color-id="@First.ProductColorRecord.Id" style="background:@First.ProductColorRecord.Value;" title="@First.ProductColorRecord.Name" class="active"></li>
                            if (First.SecondProductColorRecord != null)
                            {
                                <li data-color-id="@First.SecondProductColorRecord.Id" style="background:@First.SecondProductColorRecord.Value;" title="@First.SecondProductColorRecord.Name"></li>}
                            if (First.ThirdProductColorRecord != null)
                            {
                                <li data-color-id="@First.ThirdProductColorRecord.Id" style="background:@First.ThirdProductColorRecord.Value;" title="@First.ThirdProductColorRecord.Name"></li>}
                            if (First.FourthProductColorRecord != null)
                            {
                                <li data-color-id="@First.FourthProductColorRecord.Id" style="background:@First.FourthProductColorRecord.Value;" title="@First.FourthProductColorRecord.Name"></li>}
                            if (First.FifthProductColorRecord != null)
                            {
                                <li data-color-id="@First.FifthProductColorRecord.Id" style="background:@First.FifthProductColorRecord.Value;" title="@First.FifthProductColorRecord.Name"></li>}

                        }
                    </ul>

                </div>
                <div class="turnbtns">
                    @if (Model.Campaign.BackSideByDefault)
                    {
                        <div class="turnfront">
                            <img src="/Media/campaigns/@Model.Campaign.Id/@Model.Campaign.Products.First(c => c.WhenDeleted == null).Id/normal/back.png">
                            <span>Front</span>
                        </div>
                        <div class="turnback">
                            <img src="/Media/campaigns/@Model.Campaign.Id/@Model.Campaign.Products.First(c => c.WhenDeleted == null).Id/normal/front.png" />
                            <span>Back</span>
                        </div>
                    }
                    else
                    {
                        <div class="turnfront">
                            <img src="/Media/campaigns/@Model.Campaign.Id/@Model.Campaign.Products.First(c => c.WhenDeleted == null).Id/normal/front.png">
                            <span>Front</span>
                        </div>
                        <div class="turnback">
                            <img src="/Media/campaigns/@Model.Campaign.Id/@Model.Campaign.Products.First(c => c.WhenDeleted == null).Id/normal/back.png" />
                            <span>Back</span>
                        </div>
                    }
                    
                </div>
                <script>
                    window.backsidebyDefault= @(Model.Campaign.BackSideByDefault?1:0);
                </script>
                <div class="teeviewer">
                    @if (Model.Campaign.BackSideByDefault)
                    { <div class="front">
                          <img id="zoomlensfront" src="/Media/campaigns/@Model.Campaign.Id/@Model.Campaign.Products.First(c => c.WhenDeleted == null).Id/normal/back.png" data-zoom-image="/Media/campaigns/@Model.Campaign.Id/@Model.Campaign.Products.First(c => c.WhenDeleted == null).Id/big/back.png" />
                    </div>
                        <div class="back">
                            <img id="zoomlensback" src="/Media/campaigns/@Model.Campaign.Id/@Model.Campaign.Products.First(c => c.WhenDeleted == null).Id/normal/front.png" data-zoom-image="/Media/campaigns/@Model.Campaign.Id/@Model.Campaign.Products.First(c => c.WhenDeleted == null).Id/big/front.png" />
                        </div>}
                    else
                    {
                        <div class="front">
                            <img id="zoomlensfront" src="/Media/campaigns/@Model.Campaign.Id/@Model.Campaign.Products.First(c => c.WhenDeleted == null).Id/normal/front.png" data-zoom-image="/Media/campaigns/@Model.Campaign.Id/@Model.Campaign.Products.First(c => c.WhenDeleted == null).Id/big/front.png" />
                        </div>
                        <div class="back">
                            <img id="zoomlensback" src="/Media/campaigns/@Model.Campaign.Id/@Model.Campaign.Products.First(c => c.WhenDeleted == null).Id/normal/back.png" data-zoom-image="/Media/campaigns/@Model.Campaign.Id/@Model.Campaign.Products.First(c => c.WhenDeleted == null).Id/big/back.png" />
                        </div>     
                    }
                </div>

            </div>
        </div>

        <div class="right">
            <h1>@Model.Campaign.Title</h1>
            @if (Model.PromoSize > 0)
            {
                if (Model.PromoType == "%")
                {
                    var promosize = (Model.Campaign.Products.FirstOrDefault().Price / 100) * Model.PromoSize;
                    <span id="promo-amount" style="display:none;">@promosize</span>
                    <h2 class="price">
                        <span class="main-price price-currency-code" style="text-decoration:line-through;" data-bc="@Model.Campaign.CurrencyRecord.Code" data-price="@Model.Campaign.Products.FirstOrDefault().Price" data-string-format="{0}">
                            @Model.Campaign.CurrencyRecord.ShortName @Model.Campaign.Products.FirstOrDefault().Price.ToString("0.00").Replace(",", ".")
                        </span>
                        <span class="main-price price-currency-code promo-price" data-bc="@Model.Campaign.CurrencyRecord.Code" data-price="@(Model.Campaign.Products.FirstOrDefault().Price - promosize)" data-string-format="{0}">
                            @Model.Campaign.CurrencyRecord.ShortName @((Model.Campaign.Products.FirstOrDefault().Price - promosize).ToString("0.00").Replace(",", "."))
                        </span>

                    </h2>
                }
                else
                {
                    <span id="promo-amount" style="display:none;">@Model.PromoSize</span>
                    <h2 class="price">
                        <span calss="main-price price-currency-code" style="text-decoration:line-through;" data-bc="@Model.Campaign.CurrencyRecord.Code" data-price="@(Model.Campaign.Products.FirstOrDefault().Price - Model.PromoSize)" data-string-format="{0}">
                            @Model.Campaign.CurrencyRecord.ShortName @Model.Campaign.Products.FirstOrDefault().Price.ToString("0.00").Replace(",", ".")
                        </span>
                        <span class="main-price price-currency-code promo-price" data-bc="@Model.Campaign.CurrencyRecord.Code" data-price="@Model.Campaign.Products.FirstOrDefault().Price" data-string-format="{0}">
                            @Model.Campaign.CurrencyRecord.ShortName @((Model.Campaign.Products.FirstOrDefault().Price - Model.PromoSize).ToString("0.00").Replace(",", "."))
                        </span>

                    </h2>
                }
            }
            else
            {
                <h2 class="main-price price price-currency-code" data-bc="@Model.Campaign.CurrencyRecord.Code" data-price="@Model.Campaign.Products.FirstOrDefault().Price" data-string-format="{0}">@Model.Campaign.CurrencyRecord.ShortName @Model.Campaign.Products.FirstOrDefault().Price.ToString("0.00").Replace(",", ".")</h2>
            }
            <div class="des">
                @Html.Raw(Model.Campaign.Description)
            </div>
            <h3 class="title">Products</h3>
            <span class="chcrncy">Change Currency</span>
            <select class="products">
                @foreach (var item in Model.Campaign.Products)
                {
                    <option id="@item.Id" value="@item.Id" class="price-currency-code" data-bc="@Model.Campaign.CurrencyRecord.Code" data-price="@(item.Price)" data-string-format="@item.ProductRecord.Name - {0}">
                        @item.ProductRecord.Name - @Model.Campaign.CurrencyRecord.ShortName @item.Price.ToString("0.00").Replace(",", ".")
                    </option>
                }

            </select>

            <span class="info">
                @foreach (var item in Model.Campaign.Products)
                {
                    <div class="infobox hidden" data-product-id="@item.Id">
                        @*@Model.Campaign.Products.FirstOrDefault().ProductRecord.Details;*@
                        @item.ProductRecord.Details
                    </div>
                }
            </span>

            <div class="teestyles">
                @foreach (var product in Model.Campaign.Products)
                {
                    if (Model.Campaign.BackSideByDefault)
                    {
                        <div class="teestyle" data-id="@product.Id"><img src="/Media/campaigns/@Model.Campaign.Id/@product.Id/normal/back.png" /></div>

                    }
                    else
                    {
                        <div class="teestyle" data-id="@product.Id"><img src="/Media/campaigns/@Model.Campaign.Id/@product.Id/normal/front.png" /></div>
                    }
                }
                @*<div class="teestyle"><img src="/Media/campaigns/@Model.Campaign.Id/@Model.Campaign.Products.First(c => c.WhenDeleted == null).Id/normal/front.png" /></div>
                    <div class="teestyle"><img src="/Media/campaigns/@Model.Campaign.Id/@Model.Campaign.Products.First(c => c.WhenDeleted == null).Id/normal/front.png" /></div>
                    <div class="teestyle"><img src="/Media/campaigns/@Model.Campaign.Id/@Model.Campaign.Products.First(c => c.WhenDeleted == null).Id/normal/front.png" /></div>*@
            </div>

            <span class="viewdetails">View Sizing Chart & Product Details</span>
            <div style='display:none;' id="js-size-chart-wrap" class="product__size_chart_wrap product__size_chart_wrap--inch">
                @foreach (var product in Model.Campaign.Products.Where(c => c.WhenDeleted == null))
                {
                    <div class="product__size_chart hidden" data-product-id="@product.Id">
                        <div class="size_chart__units">
                            <span class="js-size-unit-toggle-inches size_chart__unit size_chart__unit--inch" data-unit="inch">@T("Inches")</span>
                            <span class="js-size-unit-toggle-centimeters size_chart__unit size_chart__unit--cm" data-unit="cm">@T("Centimeters")</span>
                        </div>
                        <table class="product__size_chart__table">
                            <thead>
                                <tr class="product__size_chart__row">
                                    <th class="product__size_chart__size_label">Size</th>
                                    <th>@T("Length")</th>
                                    <th>@T("Sleeve")</th>
                                    <th>@T("Width")</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var size in product.ProductRecord.SizesAvailable.OrderBy(aa => aa.ProductSizeRecord.SizeCodeRecord.xOrder))
                                {
                                    var sleaveCm = size.ProductSizeRecord.SleeveCm != null ? Math.Round((double)size.ProductSizeRecord.SleeveCm, 2) + " cm" : " ";
                                    <tr class="product__size_chart__row">
                                        <td class="product__size_chart__size_label">@size.ProductSizeRecord.SizeCodeRecord.Name</td>
                                        <td>
                                            <span class="product__size_chart__size product__size_chart__size--inch">@size.ProductSizeRecord.LengthInch"</span>
                                            <span class="product__size_chart__size product__size_chart__size--cm">@Math.Round(size.ProductSizeRecord.LengthCm, 2) cm</span>
                                        </td>
                                        <td>
                                            <span class="product__size_chart__size product__size_chart__size--inch">@size.ProductSizeRecord.SleeveInch"</span>
                                            <span class="product__size_chart__size product__size_chart__size--cm">@sleaveCm</span>
                                        </td>
                                        <td>
                                            <span class="product__size_chart__size product__size_chart__size--inch">@size.ProductSizeRecord.WidthInch"</span>
                                            <span class="product__size_chart__size product__size_chart__size--cm">@Math.Round(size.ProductSizeRecord.WidthCm, 2) cm</span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
            
            @{
                var timeleft2 = Model.Campaign.EndDate - DateTime.Now;
                if (timeleft2.TotalSeconds > 0)
                {
                    if (Model.Campaign.TargetSet)
                    {
                        

                        <h4>@Model.Campaign.ProductCountSold Sold out of @Model.Campaign.Tareget, Buy until <span class="green">@Model.Campaign.EndDate.ToString("MMMM") @(Model.Campaign.EndDate.Day)!</span></h4>
                        <a class="buyit" href="#reserve-it-now">Buy it Now</a>
                    }
                    else
                    {
                        <h4>@Model.Campaign.ProductCountSold Sold, Buy until <span class="green">@Model.Campaign.EndDate.ToString("MMMM") @(Model.Campaign.EndDate.Day)!</span></h4>
                        <a class="buyit" href="#reserve-it-now">Buy it Now</a>
                    }
                }
                else
                {
                    if (Model.Campaign.TargetSet)
                    {
                        //Submit request to launch again
                        <h4>@Model.Campaign.ProductCountSold Sold out of @Model.Campaign.Tareget, Submit request to launch again</h4>
                        <a class="buyit requestit" href="#reserve-it-now">Request it</a>
                    }
                    else
                    {
                        <h4>@Model.Campaign.ProductCountSold Sold, Submit request to launch again</h4>
                        <a class="buyit requestit" href="#reserve-it-now">Request it</a>

                    }
                }
            }
            <div class="payment">
                <ul>
                    <li class="paypal"><a href="#"></a></li>
                    <li class="ipay88"><a href="#"></a></li>
                    <li class="molpay"><a href="#"></a></li>
                    <li class="braint"><a href="#"></a></li>
                    <li class="union"><a href="#"></a></li>
                </ul>
            </div>
            @{
                var timeleft = Model.Campaign.EndDate - DateTime.Now;
                if (timeleft.TotalSeconds > 0)
                {
                    <div class="timeleft" data-time-left="@timeleft.TotalSeconds">

                        <div class="blks days">@timeleft.Days</div>
                        <div class="blks hours">@timeleft.Hours</div>
                        <div class="blks mins">@timeleft.Minutes</div>
                        <div class="blks secs">@timeleft.Seconds</div>

                        <span class="timet">Days</span>
                        <span class="timet">Hours</span>
                        <span class="timet">Mins</span>
                        <span class="timet">Secs</span>
                    </div>
                }
            }

            <ul class="social">
                <li class="socialicon fb"><a class="btn--facebook" href="#">Share</a></li>
                <li class="socialicon tw btn--twitter"><a class="btn--twitter" href="#">Tweet</a></li>
                <li class="socialicon pn btn--pinterest"><a class="btn--pinterest" href="#">Pin it</a></li>
                <li class="socialicon em"><a class="btn--facebook" href="#">Email</a></li>
            </ul>
        </div>

        <div class="refund">
            <h3>Refund Policy</h3>
            <p>100% Satisfaction Guaranteed! If the quality is substandard, you can return it and get refunded, <a href="/FAQ/Topic/207">See FAQ.</a></p>
            <h3>Delivery info</h3>
            <p> 
            @("Shipping costs and times differ from country to country, ") 
                <a href="/FAQ/Topic/211" target="_blank">see here</a>  
            @T("for more detail.")
            <p>
                @("The campaign expires on ")
                
                <span class="bold">@Model.Campaign.EndDate.ToString("MMMM") @(Model.Campaign.EndDate.Day)</span>

                @T(" and it will take approximately 2 weeks for the item to be printed and delivered.")
                @*@("T-shirts are printed and shipped when this campaign ends on ")*@ 
                
            </p>
        </div>
    </div>
    <div class="relatedcampaign campaignmargin hidden">
        <h2>Related Campaigns</h2>
        <div class="item">
            <div class="daysleft">6 Days Left</div>
            <img src="Themes/Teeyoot.theme/content/front.png" />
            <h4>People Are Awesome</h4>
            <p><span class="price">$23</span>|<span class="sold">354 Sold</span></p>
        </div>
        <div class="item">
            <div class="daysleft">6 Days Left</div>
            <img src="Themes/Teeyoot.theme/content/front.png" />
            <h4>People Are Awesome</h4>
            <p><span class="price">$23</span>|<span class="sold">354 Sold</span></p>
        </div>
        <div class="item">
            <div class="daysleft">6 Days Left</div>
            <img src="Themes/Teeyoot.theme/content/front.png" />
            <h4>People Are Awesome</h4>
            <p><span class="price">$23</span>|<span class="sold">354 Sold</span></p>
        </div>
        <div class="item">
            <div class="daysleft">6 Days Left</div>
            <img src="Themes/Teeyoot.theme/content/front.png" />
            <h4>People Are Awesome</h4>
            <p><span class="price">$23</span>|<span class="sold">354 Sold</span></p>
        </div>
    </div>
</div>

@using (Script.Foot())
{
    <script>
        window.timeLeft = @((Model.Campaign.EndDate - DateTime.Now).TotalSeconds);
        document.title = "Teeyoot | @Model.Campaign.Title";
        window.setInterval(function () {
            window.timeLeft = window.timeLeft -1;

            $(".secs").text(Math.floor(window.timeLeft % 60));
            $(".mins").text(Math.floor(window.timeLeft % 3600 /60));
            $(".hours").text(Math.floor((window.timeLeft % 3600 * 24) /3600));
            $(".days").text(Math.floor((window.timeLeft % (3600 * 365 * 24)) /(24 * 3600)));
        }, 1000);

        function Update(){
            var color =  $(".colors li.active").data('color-id');
            var productId =$(".products option:selected").val();
            var campainId = window.campainID;
            if(color && !$(".colors li.active").attr('data-first')) productId = productId + "_" + color;
            var backImage = "/Media/campaigns/" +campainId + "/" +  productId + "/normal/back.png";
            var frontImage = "/Media/campaigns/" +campainId + "/" +  productId + "/normal/front.png";


            if(window.backsidebyDefault){
                $("#zoomlensfront").attr('src', backImage);
                $("#zoomlensback").attr('src', frontImage);

                $("#zoomlensfront").data('zoom-image', backImage);
                $("#zoomlensback").data('zoom-image',frontImage);

                $(".turnback img").attr('src', frontImage);
                $(".turnfront img").attr('src', backImage);
            }else{
                $("#zoomlensfront").attr('src', frontImage);
                $("#zoomlensback").attr('src', backImage);

                $("#zoomlensfront").data('zoom-image', frontImage);
                $("#zoomlensback").data('zoom-image',backImage);

                $(".turnback img").attr('src', backImage);
                $(".turnfront img").attr('src', frontImage);
            }
            //$("#zoomlensfront").attr('src', frontImage);
            //$("#zoomlensback").attr('src', backImage);

            //$("#zoomlensfront").data('zoom-image', frontImage);
            //$("#zoomlensback").data('zoom-image',backImage);

            //$(".turnback img").attr('src', backImage);
            //$(".turnfront img").attr('src', frontImage);

            ///alert(color);

            if(($(window).width()) > 1024){
                $('#zoomlensfront').elevateZoom();
                $('#zoomlensback').elevateZoom();
            }


            //Update Size Table

            productid = $("select.products").val();
            $('.product__size_chart').each(function(index, item){
                if($(item).data("product-id") == productid){
                    $(item).show();
                }
                else{
                    $(item).hide();
                }
            });

        }
        function UpdateColors(){
            var productId =$(".products option:selected").val();
            var product = findProductById(productId);

            $("#color-container").find('li').remove();
            i = 0;
            $(product.colors).each(function(index, item){
                if(i == 0){
                    $("#color-container").append("<li data-first='true' data-color-id='"+item.Id+"' style='background:" + item.Value +";' title='"+item.Name+"'></li>");

                }else{
                    $("#color-container").append("<li data-color-id='"+item.Id+"' style='background:" + item.Value +";' title='"+item.Name+"'></li>");
                }
                i++;
            });

            $("#color-container").find('li').first().addClass('active');


            //<h2 class="price price-currency-code" data-bc="USD" data-price="19" data-string-format="{0}">IRR19.00</h2>


        }
        $(document).ready(function(){

            $(".products").change(function(){UpdateColors(); Update();
                promoSize= $(".promo-amount").text();
                console.log(promoSize);
                $(".main-price").data("price", window.product.price);
                $(".main-price").text(window.Currency + "" + window.product.price.toFixed(2));
                
                
                if($("#promo-amount").text()){
                    x= Number($("#promo-amount").text()); 
                    $(".promo-price").data("price", window.product.price - x);
                    $(".promo-price").text(window.Currency + "" + (window.product.price - x).toFixed(2));
                }               
                $(".currencies").change();

                console.log(window.product);
            });
            $(document).on('click', '.colors li', function(e){
                $('.colors ul li').removeClass('active');
                $(e.target).addClass('active');
                Update();
            });
            //$(".colors li").click(Update);

            $(".buyit").click(function(){
                fbq('track', 'InitiateCheckout');
                if($(this).hasClass("requestit")) return;
                $(".modal-main").show();

                if($('.modal-main').find(".colors").length == 1){
                    colorId = $(".tee").find(".colors .active").data('color-id');
                    $("select.colors").find("option[data-color-id="+colorId+"]").attr('selected', 'selected');
                    if(window.product){
                        //$('.modal-main').find(".styles").find('#' + window.product.id).attr('selected', 'selected');
                        $('.modal-main').find(".styles").val(window.product.id);
                        $('.modal-main').find(".styles").change();
                    }
                }
            });
            $(".modal > div").click(function(e){
                e.stopPropagation();
            });
            $(".modal, .close").click(function(e){
                $(".modal-main").hide();
            });

            $("#add-row").click(function(){
                x  = $(".modal .first-row").clone();
                x.removeClass("first-row");
                $(".modal table").append(x);

                l = $(".data-row").length;

                if(l > 1){
                    $(".data-row").find("span.remove").removeClass("hidden");
                }
            });
        });

        function removeItem(e){
            x = $(".data-row").length;
            if(x == 1) return;
            $(e).parents("tr").remove();
            $(".data-row").removeClass("first-row");
            $($(".data-row")[0]).addClass('first-row');
            x = $(".data-row").length;
            if(x == 1)
                $(".data-row").find("span.remove").addClass("hidden");

        }

    </script>
}
<div class="modal-main">
    <div class="overlay"></div>
    <div class="modal">
        <div>
            <span class="close">X</span>
            <br>
            <section class="tablewrapper">
                <table cellspacing="0">
                    <tr class="hidden-mobile">
                        <th>
                        </th>
                        <th>
                            @("Product")
                        </th>
                        <th>
                            @("Qty")
                        </th>
                        <th>
                            @("Size")
                        </th>
                        <th>
                            @("Color")
                        </th>
                        <th>
                            @("Price")
                        </th>
                        <th>

                        </th>
                    </tr>
                    <tr class="first-row data-row">
                        <td>
                            <img />
                        </td>
                        <td>
                            <span class="show-mobile">
                                @("Product")
                            </span>
                            <select class="styles">
                                @foreach (var product in Model.Campaign.Products.Where(aa => aa.WhenDeleted == null))
                                {
                                    <option value="@product.Id">@product.ProductRecord.Name</option>
                                }
                            </select>
                        </td>
                        <td>
                            <span class="show-mobile">
                                @("Qty")
                            </span>
                            <input value="1" class='qunitity' />
                        </td>
                        <td>
                            <span class="show-mobile">
                                @("Size")
                            </span>
                            @{
                                var first = Model.Campaign.Products.FirstOrDefault();

                                <select class="sizes">
                                    <option value="-1">--</option>
                                    @foreach (var size in first.ProductRecord.SizesAvailable.OrderBy(aa => aa.ProductSizeRecord.SizeCodeRecord.xOrder))
                                    {
                                        <option value="@size.ProductSizeRecord.Id" id="@size.ProductSizeRecord.Id" data-product-size-id="@size.Id">@size.ProductSizeRecord.SizeCodeRecord.Name</option>
                                    }
                                </select>
                            }
                        </td>

                        <td>
                            <span class="show-mobile">
                                @("Color")
                            </span>
                            @{
                                var first2 = Model.Campaign.Products.FirstOrDefault();

                                <select class="colors">
                                    <option data-color-id="@first2.ProductColorRecord.Id">@first.ProductColorRecord.Name</option>
                                    @if (first2.SecondProductColorRecord != null)
                                    {
                                        <option data-color-id="@first2.SecondProductColorRecord.Id">@first.SecondProductColorRecord.Name</option>
                                    }
                                    @if (first2.ThirdProductColorRecord != null)
                                    {
                                        <option data-color-id="@first2.ThirdProductColorRecord.Id">@first.ThirdProductColorRecord.Name</option>
                                    }
                                    @if (first2.FourthProductColorRecord != null)
                                    {
                                        <option data-color-id="@first2.FourthProductColorRecord.Id">@first.FourthProductColorRecord.Name</option>
                                    }
                                    @if (first2.FifthProductColorRecord != null)
                                    {
                                        <option data-color-id="@first2.FifthProductColorRecord.Id">@first.FifthProductColorRecord.Name</option>
                                    }
                                </select>
                            }
                        </td>

                        <td>
                            <span class="show-mobile">
                                @("Price")
                            </span>
                            <label class="price price-currency-code" data-bc="@Model.Campaign.CurrencyRecord.Code" data-price="@(first.Price)" data-string-format="{0}">
                                @Model.Campaign.CurrencyRecord.Code
                                @first.Price.ToString("0.00")
                            </label>

                        </td>
                        <td class="remove">
                            <span class="remove hidden" onclick="removeItem(this)">x</span>
                        </td>
                    </tr>
                </table>
            </section>
            <hr />
            <p class="size-error" style="display:none;">
                @T("Please Select Size")
            </p>
            <p>
                <span id="add-row" class="add-another">+ Add another size, colour or style where applicable</span>
            </p>
            <hr />
            <a class="checkout" href="#reserve-it-now">Checkout</a>
            <section class="payment">
                <ul>
                    <li class="paypal"><a href="#"></a></li>
                    <li class="ipay88"><a href="#"></a></li>
                    <li class="molpay"><a href="#"></a></li>
                    <li class="braint"><a href="#"></a></li>
                    <li class="union"><a href="#"></a></li>
                </ul>
            </section>

        </div>
    </div>
</div>


@using (Script.Foot())
{
    <script>


        function addAntiForgeryToken(data) {
            data.__RequestVerificationToken = "@Html.AntiForgeryTokenValueOrchard()";
            return data;
        };
        var allowPromo = false;
        $(document).ready(function(){

            $(".front").show();
            $(".back").hide();
            if(($(window).width()) > 1024){
                $('#zoomlensfront').elevateZoom();
            }


            $('.turnback').click(function(){
                $('.front').css({'transform':'rotateY(90deg)'}, 300);
                $('.back').show();
                setTimeout(function(){
                    $('.back').css({'transform':'rotateY(0deg)'}, 300);
                    $('.front').hide();
                }, 300);
                $(this).css({'opacity':'1'});
                $('.turnfront').css({'opacity':'0.5'});
                if(($(window).width()) > 1024){
                    $('#zoomlensback').elevateZoom();
                }

            });


            $('.turnfront').click(function(){
                $('.back').css({'transform':'rotateY(-90deg)'}, 300);
                $('.front').show();
                setTimeout(function(){
                    $('.front').css({'transform':'rotateY(0deg)'}, 300);
                    $('.back').hide();
                }, 300);
                $(this).css({'opacity':'1'});
                $('.turnback').css({'opacity':'0.5'});
                if(($(window).width()) > 1024){
                    $('#zoomlensfront').elevateZoom();
                }

            });
            //

            //


            $('.checkout').click(function(){
                for(var i =0; i < $(".modal-main").find('.sizes').length; i++){
                    item = $($(".modal-main").find('.sizes')[i]);
                    if(item.val() == "-1"){
                        $(".size-error").show();
                        return false;
                    }
                }
                sendData();
            });

        });




        $(document).on('change', 'select', function(e) {

            //console.log(e);
            if($(e.target).hasClass('products') || $(e.target).hasClass('currencies')) return;
            row = $(e.target).parents('tr');

            if($(e.target).hasClass('styles')){
                UpdateRow(row);
            }
            UpdateAmount(row);
        });
        $(document).on('change', '.qunitity', function(e){
            row = $(e.target).parents('tr');
            UpdateAmount(row);
        });
        function UpdateAmount (row){
            count = row.find('.qunitity').val();
            if(!Number(count)) count = 1;
            count = Number(count);

            var productID = row.find('.styles option:checked').val();//data('style-id');
            var sizeID = row.find('.sizes  option:checked').data('size-id');
            var colorId = row.find('.colors  option:checked').data('color-id');


            var productId = row.find('.styles option:checked').val();
            product = findProductById(productId);



            count = row.find('.qunitity').val();
            if(!Number(count)) count = 1;
            count = Number(count);


            //$(row).find('.price .code').text(window.CampaignBaseCurrency);
            $(row).find('.price').data("price", count * product.price);
            $(".currencies").change();
        }
        function UpdateRow(row){
            var productId = row.find('.styles option:checked').val();
            product = findProductById(productId);

            row.find(".sizes option").remove();
            row.find(".colors option").remove();

            var select_color = row.find('.colors');
            var select_size = row.find('.sizes');

            $(product.colors).each(function(index, item){
                select_color.append("<option data-color-id='" +item.Id+ "'>" + item.Name + "</option>");
            });

            select_size.append("<option value='-1' id='-1' data-product-size-id='-1'>--</option>");



            $(product.sizes).each(function(index, item){
                select_size.append("<option value='" + item.sizeRecord.Id + "' id='" + item.sizeRecord.Id + "' data-product-size-id='" +item.id+ "'>" + item.sizeRecord.SizeCodeRecord.Name + "</option>");
            });


            count = row.find('.qunitity').val();
            if(!Number(count)) count = 1;
            count = Number(count);


            $(row).find('.price .code').text(window.CampaignBaseCurrency);
            $(row).find('.price .value').text((count*  product.price).toFixed(2));
        }
        function findProductById(productid){
            if(window.products == null) return;
            if(window.products.length == 1) return window.products[0];

            for (var i = 0; i < window.products.length; i++) {
                product = window.products[i];
                if(product.id == productid) return product;
            }
            return null;
        }
        function sendData() {
            allowPromo= true;
            var promoId = '@Model.PromoId';
            var products = [];
            var tableRows = $('.data-row');
            var count;
            var productId;
            var sizeId;
            var price;
            var colorId;
            var currencyId = @Model.Campaign.Products.First().CurrencyRecord.Id;
            var productSizeId;

            tableRows.each(function(index, el) {

                var items = $(el).find('.styles')[0];
                productId = items[items.selectedIndex].value;
                items = $(el).find('.sizes')[0];
                productSizeId = $(items).find('option:selected').data('product-size-id');
                sizeId = items[items.selectedIndex].value;
                count = $(el).find('.qunitity')[0].value;
                price = $(el).find('.price').data('price');
                items = $(el).find('.colors')[0];
                colorId = $(items[items.selectedIndex]).data('color-id');
                //productSizeId = $(el).find().attr('id'); //$(el).find('.modal-price.shown').data('product-size-id');

                products.push({
                    ProductId: productId,
                    SizeId: sizeId,
                    Count: count,
                    Price: price,
                    ColorId: colorId,
                    CurrencyId: currencyId,
                    ProductSizeId: productSizeId
                });
            });
            $.ajax({
                async: true,
                cache: false,
                type: "POST",
                url: "@(Url.Action("CreateOrder", "Home"))",
                data: addAntiForgeryToken({
                    "products": products,
                    "currency": window.Currency
                }),
                success: function(data, status, resp) {
                    if (resp.status === 200) {
                        if (promoId) {
                            window.location.href = '/Buy/' + data + "?promo=" + promoId;
                        } else {
                            window.location.href = '/Buy/' + data;
                        }
                    }
                },
                error: function(data, status, resp) {
                    alert('Status: ' + data.status + '. Error message: ' + data.statusText);
                }
            });


        }


        $(document).ready(function(){

            ///
            fbq('track', 'ViewContent');
            //
            $('.product__size_chart_wrap').slideUp(0);
            $('.campaign .right .viewdetails').click(function () {
                productid = $("select.products").val();
                $('.product__size_chart').each(function(index, item){
                    if($(item).data("product-id") == productid){
                        $(item).show();
                    }
                    else{
                        $(item).hide();
                    }
                });
                $('.product__size_chart_wrap').slideToggle(400);
            });

            $('span.info').click(function () {

                if($(".infobox").is(":visible")){
                    $(".infobox").hide();
                    return;
                }

                productid = $("select.products").val();
                $('.infobox').each(function(index, item){
                    if($(item).data("product-id") == productid){
                        $(item).show();
                    }
                    else{
                        $(item).hide();
                    }
                });
                //$('.infobox').fadeToggle(200);
            });

            $('.turnback').click(function () {
                $('.front').css({ 'transform': 'rotateY(90deg)' }, 300);
                setTimeout(function () {
                    //$('.back').show();
                    $('.back').css({ 'transform': 'rotateY(0deg)' }, 300);
                    //$('.front').hide();
                }, 300);
                $(this).css({ 'opacity': '1' });
                $('.turnfront').css({ 'opacity': '0.5' });
            });
            $('.turnfront').click(function () {
                $('.back').css({ 'transform': 'rotateY(-90deg)' }, 300);
                setTimeout(function () {
                    //$('.front').show();
                    $('.front').css({ 'transform': 'rotateY(0deg)' }, 300);
                    //$('.back').hide();
                }, 300);
                $(this).css({ 'opacity': '1' });
                $('.turnback').css({ 'opacity': '0.5' });
            });

            $(".js-size-unit-toggle-inches").click(function () {
                //var id = $("#product__dropdown option:selected")[0].id;
                //var size_show = document.getElementsByClassName("product__size_chart");
                document.getElementById("js-size-chart-wrap").className = "product__size_chart_wrap product__size_chart_wrap--inch";
            });

            $(".js-size-unit-toggle-centimeters").click(function () {
                //var id = $("#product__dropdown option:selected")[0].id;
                document.getElementById("js-size-chart-wrap").className = "product__size_chart_wrap product__size_chart_wrap--cm";
            });

            if(($(window).width()) > 1024){
                $('#zoomlensfront').elevateZoom();
            }





            //social icons

            document.title = "@Model.Campaign.Title" + " | Teeyoot";
            var firstBack = "@Model.Campaign.BackSideByDefault";
            var date = $(document.getElementById("days_for_twitter")).text();
            date = date.replace('/>/g', "").replace('/</g', "");
            date = date.trim();
            var twitterBtn = document.getElementsByClassName("btn--twitter");
            for (var k = 0; k < twitterBtn.length; k++) {
                var str = "http://twitter.com/home?status=Check%20out%20 @Model.Campaign.Title for the next " + date + " via%20@Teeyoot: @Request.Url.Scheme://@Request.Url.Authority@Request.ApplicationPath.TrimEnd('/')/@Model.Campaign.Alias";
                $(twitterBtn[k]).attr("href", str);
            }
            var pinterestBtn = document.getElementsByClassName("btn--pinterest");
            for (var k = 0; k < pinterestBtn.length; k++) {
                if (firstBack == "True") {
                    $(pinterestBtn[k]).attr("href", "https://www.pinterest.com/pin/create/button/?url=@Request.Url.Scheme://@Request.Url.Authority@Request.ApplicationPath.TrimEnd('/')/@Model.Campaign.Alias;media=@Request.Url.Scheme://@Request.Url.Authority@Request.ApplicationPath.TrimEnd('/')/Media/campaigns/@Model.Campaign.Id/@Model.Campaign.Products.Where(c => c.WhenDeleted == null).First().Id/normal/back.png");
                } else {
                    $(pinterestBtn[k]).attr("href", "https://www.pinterest.com/pin/create/button/?url=@Request.Url.Scheme://@Request.Url.Authority@Request.ApplicationPath.TrimEnd('/')/@Model.Campaign.Alias;media=@Request.Url.Scheme://@Request.Url.Authority@Request.ApplicationPath.TrimEnd('/')/Media/campaigns/@Model.Campaign.Id/@Model.Campaign.Products.Where(c => c.WhenDeleted == null).First().Id/normal/front.png");
                }
            }


            var facebookBtn = document.getElementsByClassName("btn--facebook");
            for (var k = 0; k < facebookBtn.length; k++) {
                $(facebookBtn[k]).attr("href", "http://www.facebook.com/share.php?u=@Request.Url.Scheme://@Request.Url.Authority@Request.ApplicationPath.TrimEnd('/')/@Model.Campaign.Alias");
            }


        });


        $('.teestyles .teestyle').click(function(){
            $('.teestyles .teestyle').removeClass('active');
            $(this).toggleClass('active');

            var Id = $(this).data('id');

            var style = document.getElementById(Id);
            var styles = $('.products')[0];
            styles.options[style.index].selected = true;
            $(".products").change();
        });

    </script>
}
<div class="hidden">
    <span id="days_for_twitter">
        @if (@Model.Campaign.EndDate.ToLocalTime().Subtract(DateTime.UtcNow).Days > 0)
        {
            @Model.Campaign.EndDate.ToLocalTime().Subtract(DateTime.UtcNow).Days@T(" days")
        }
        else if (Model.Campaign.EndDate.ToLocalTime().Subtract(DateTime.UtcNow).Days <= -1)
        {
            @Math.Abs(Model.Campaign.EndDate.ToLocalTime().Subtract(DateTime.UtcNow).Days)
            @T("days ago")
        }
        else
        {
            var hours = Model.Campaign.EndDate.ToLocalTime().Subtract(DateTime.UtcNow).Hours;
            if (hours > 0)
            {
                @hours
                @T("hours")
            }
            else
            {
                @Math.Abs(hours)
                @T("hours ago")
            }
        }
    </span>
</div>