@model Teeyoot.WizardSettings.ViewModels.ProductIndexViewModel
@{
    Layout.Title = T("Styles");
}

<div class="manage">
    <a class="button primaryAction" href="@Url.Action("EditProduct", "Product")">@T("Add New Style")</a>
</div>
<style>
    .data {
        text-align: left;
    }

        .data th, .data td {
            text-align: left !important;
        }
</style>
<div class="data">
    <table>
        <thead>
            <tr>
                <th>
                    @T("Name")
                </th>
                <th>
                    @T("Price")
                </th>
                <th>
                    @T("Style")
                </th>
                <th>
                    @T("Details")
                </th>
                <th>
                    @T("Edit")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.BaseCost.ToString("0.00")</td>
                    <td>@product.ProductHeadlineRecord.Name</td>
                    <td>@product.Details</td>
                    <td>
                        <div class="related">
                            <a href="@Url.Action("EditProduct", "Product", new {productId = product.Id})" title="@T("Edit")">@T("Edit")</a>@T(" | ")
                            <a href="@Url.Action("DeleteProduct", "Product", new {productId = product.Id})" itemprop="RemoveUrl">@T("Delete")</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@Display(Model.Pager)